body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background: url('./media/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.content-box {
  background: rgba(
    0,
    0,
    0,
    0.7
  ); /* Lighten the background for better visibility */
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  max-width: 600px;
}

h1 {
  color: #ff733b; /* Adjusted to your brand orange */
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.countdown {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.time-box {
  background: #1f1f1f; /* Slightly lighter grey for better contrast */
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  color: #ff733b;
  font-size: 1.8rem;
  font-weight: 600;
}

.label {
  font-size: 1.2rem;
  color: #fff;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.contact-info {
  margin-top: 1rem;
}

.contact-info a {
  color: #ff733b;
}

@media (max-width: 768px) {
  .content-box {
    padding: 10px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .time-box {
    padding: 5px 10px;
    min-width: 80px;
  }

  .number {
    font-size: 1.4rem;
  }

  .label {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.9rem;
  }
}

ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  gap: 10px;
  padding-left: 0;
}

li {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: #ff733b;
  border-radius: 5px;
}

.social-media-link {
  color: #1f1f1f;
}
